body {

    font-family: Arial, sans-serif;
    background: #fff5fa;
    margin:0;
    color:#333;

}


header {

    text-align:center;
    background:#ffb6d9;
    padding:30px;

}


header h1 {

    margin:0;
    font-size:40px;

}


.container {

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
    padding:30px;

}



.card {

    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);

}



input {

    width:80%;
    padding:10px;
    border-radius:10px;
    border:1px solid #ddd;

}



button {

    background:#ff69b4;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:10px;
    cursor:pointer;
    margin:5px;

}


button:hover {

    background:#ff1493;

}



li {

    margin:10px;
    background:#ffe4f1;
    padding:10px;
    border-radius:10px;

}



.delete {

    float:right;
    background:red;
    padding:5px 10px;

}


footer {

    text-align:center;
    padding:20px;

}




@media(max-width:600px){

header h1{

font-size:30px;

}

.container{

padding:15px;

}

}
