*{
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}


body{

    margin:0;
    background:#fff5fa;
    color:#333;

}


header{

    text-align:center;
    padding:30px;

    background:#f8c8dc;

}


header h1{

    margin:0;
    font-size:40px;

}



.container{

    width:90%;
    max-width:900px;

    margin:30px auto;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:20px;

}



.card{

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);

}



h2{

    color:#d14d72;

}



input, textarea{

    width:100%;

    padding:12px;

    margin:10px 0;

    border:1px solid #ddd;

    border-radius:8px;

}



textarea{

    height:100px;

}



button{

    background:#d14d72;

    color:white;

    border:none;

    padding:10px 15px;

    border-radius:20px;

    cursor:pointer;

}



button:hover{

    opacity:0.8;

}



li{

    list-style:none;

    background:#ffe4ef;

    margin:8px 0;

    padding:10px;

    border-radius:8px;

    display:flex;

    justify-content:space-between;

}



#moodDisplay,
#makeupDisplay{

    margin-top:15px;

    font-weight:bold;

}



@media(max-width:600px){

    header h1{

        font-size:30px;

    }

}
